---
import Main from '../components/Main.astro'
import {RestaurantsList} from '../components/RestaurantsList.tsx'
import { fetchAll } from "../lib/lunch-fetcher/fetch-restaurants";

export async function getStaticPaths() {
  const restaurants = await fetchAll();
  

  return [
    {
      params: { page: undefined },
      props: { restaurants, showToday: true }
    },
    {
      params: { page: 'week' },
      props: { restaurants, showToday: false }
    }
  ];
}

const lastUpdated = new Date().toISOString();


const { restaurants, showToday } = Astro.props;
---
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <title>Stena Lunch</title>
    </head>
    <body>
        <Main showToday={showToday} lastUpdated={lastUpdated}>
          <RestaurantsList restaurants={restaurants} showToday={showToday} />
        </Main>
    </body>
</html>